#camStream, #canvas {
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
}

#canvasFinal {
  display: block;
  margin: 0 auto;
  width:100%;
}

#canvasFinal.flipped{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
